body {
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    margin: 0px;
    padding: 10px;
}

.grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-style: dotted;
    border-color: #cf7ff1;
    border-radius: 8px;
}

.grid div {
    width: 40px;
    height: 40px;
}

.score {
    background-color: #fff;
    font-size: 16px;
    border-radius: 3px;
    padding: 5px 45px;
    box-shadow: 3px 3px #04490d;
}

.start-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 3px 3px #04490d;
    cursor: pointer;

}
.snake {
    background-color: turquoise;
}

.apple {
    background-color: yellow;
}

.start-button:hover {
    background-color: #cf7ff1;
}